{
  "presets": ["@babel/preset-env", "@babel/preset-react"],
  "plugins": [
    [
      "babel-plugin-import",
      {
        "libraryName": "antd",
        "libraryDirectory": "es",
        "style": true
      }
    ]
  ],
  "env": {
    "test": {
      "plugins": [
    [
      "babel-plugin-import",
      {
        "libraryName": "not-antd",
        "libraryDirectory": "es",
        "style": true
      }
    ]
      ]
    }
  }
}
